.App {
  text-align: center;
}
ul{
  text-align: start;
  margin: 30px;
}
li{
  list-style: decimal;
  padding-bottom: 10px;
}
.active{
  background-color: greenyellow;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.form{
  display: block;
}

.tutorialImagesDesktop{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

}
.tutorialImagesMobile{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.tutorialImagesDesktop img{
  width: 640px;
  height: 360px;
}
.tutorialImagesMobile img{
  width: 375px;
  height: 812px;
}
.areatoPaste{
  background-color: lightgray;
  color: black;
  text-transform: uppercase;
  box-shadow: 1px 1px 7px 7px lightblue  ;
  width: 500px;
}
.areatoPaste textarea{
  width: 300px;
  height: 100px;
  text-align: center;

}
.succesCopy{
  color: lightgreen;
  background-color: #282c34;
}
h2{
  color: red;
}
.formtoSub{
  border-right: 3px solid black;
}

.stepsApp{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 100px;
}
.gridAccountToDelete{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  background-color: rgb(155, 43, 43);
  color: #282c34;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  /* For desktop: */
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .form{
    display: block;
  }
  
  .tutorialImagesDesktop{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .tutorialImagesMobile{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .tutorialImagesDesktop img{
    width: 320px;
    height: 180px;
    justify-self: center;
  }
  .tutorialImagesMobile img{
    width: 160px;
    height: 406px;
  }
  .areatoPaste{
    background-color: lightgray;
    color: black;
    text-transform: uppercase;
    box-shadow: 1px 1px 7px 7px lightblue  ;
    position: relative;
    width: 100%;
  }
  .areatoPaste textarea{
    width: 100px;
    height: 100px;
    text-align: center;
  
  }
  .succesCopy{
    color: lightgreen;
    background-color: #282c34;
  }
  h2{
    color: red;
  }
  .formtoSub{
    border-right: 3px solid black;
  }
  
  .stepsApp{
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 10px;
    margin: 10px;
  }
  .gridAccountToDelete{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: rgb(155, 43, 43);
    color: #282c34;
  }
  h1{
    font-size: 25px;
  }
}
b{
  color: greenyellow;
}
i{
  color:red
}
q{
  color: yellow;
}
strong{
  text-decoration: underline;
}

